---
import type { Game } from "../scripts/ItchioApi";

export interface Props {
	game: Game;
}

const { game } = Astro.props as Props;
const { title, cover_url, short_text, url, embed, classification } = game;
---

<li data-type={classification}>
	<h2>{title}</h2>
	<img src={cover_url} alt="" />
	<p>{short_text}</p>
	<a href={url} target="_blank">
		{embed ? "Jouer" : "Télécharger"}
	</a>
</li>
