---
import type { Game } from "../../api/gamesType";
import getProjets from "../../api/getDatas";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
const markdownProjets = (await Astro.glob('./*.md')).map(el=>el.frontmatter)as Game[]
  const projets = await getProjets(markdownProjets)
  
  return (
    projets.map(game=>({
      params:{projet:game.title}
    }))
    )
  }
  
const markdownProjets = (await Astro.glob('./*.md')).map(el=>el.frontmatter)as Game[]
const {projet}=Astro.params
const projetsDatas =await getProjets(markdownProjets)
const datas = projetsDatas.find(el=>el.title===projet)!
---

<Layout title={'Achtaitaipai | '+projet} pageCategory="projets">
    <div class="projectResume">
      <h2 class="projectResume_title">{datas.title}</h2>
      <img src={datas.cover_url} width="315" height="250" class="projectResume_img" aria-hidden="true"/>
      <a href={datas.url} target="_blank" class="projectResume_link">{datas.classification === 'game' ? 'Jouer' : 'Visiter'}</a>
      <p class="projectResume_description">{datas.short_text}</p>
    </div>
</Layout>